.input-container--invalido .input {
    display: flex;
    border: 1px solid red;
    border-radius: 7px;
}

.input-container--invalido .input-label {
    color: red;
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: red;
    display: flex;    
    width: 26.438rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.textarea-container--invalido {
    margin-bottom: 0.5rem;
}

.textarea-container--invalido .textarea {
    border: 1px solid red;
}

.textarea-container--invalido .textarea-label {
    color: red;
}

.textarea-mensagem-erro {
    display: none;
}

.textarea-container--invalido .textarea-mensagem-erro {
    display: block;
    color: red;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}