.produtos-gerais {
    display: flex;
    flex-direction: column;
}

.prod-titulo {    
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mostrar-mais p {    
    color:  #2A7AE4;
}

.mostrar-mais img {
    margin-left: 0.75rem ;
}

.sessao-produtos {
    display: flex;
    justify-content: space-between;
}
 
.descricao {
    font-size: 14px;        
}

.preco {
    font-weight: bold;
}

.produto a {
    color: #2A7AE4;
    font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 767px)  {
    .produtos-gerais {
        padding: 1rem 1rem;
    }

    .produto {
        justify-content: space-around;
    }

    .prod-holder-terceiro, .prod-holder-quarto, .prod-holder-quinto, .prod-holder-sexto {
        display: none;
    }  
    
    .produto img {
        width: 10.25rem;
        height: 10.875rem;
    }   
        
    .prod-titulo {
        font-size: 22px;
    }
    
    .mostrar-mais {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .produtos-gerais {
        padding: 2rem 2rem;
    } 

    .produto {
        justify-content: space-between;
    }

    .produto img {
        width: 10.25rem;
        height: 10.875rem;
    }
   
    .prod-holder-quinto, .prod-holder-sexto {
        display: none;
    }      
}

@media screen and (min-width: 1280px) {
    .produtos-gerais {
        padding: 4rem 9.5rem 0rem 9.5rem;      
    }

    .prod-titulo {
        font-size: 32px;
    }   
   
    .sessao-produtos {    
        margin-bottom: 4rem;
    }

    .prod-holder-quinto, .prod-holder-sexto {
        display: flex;
    } 

    .produto img {
        width: 11rem;
    }
}